<div class="row">
  <div class="col-sm-1">
    <div class="thumbnail">
      <%= image_tag "avatar_2x.png", class: "img-responsive user-photo" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= product.user.name %></strong> <span class="text-muted"><%= time_ago_in_words product.created_at %></span>
        </div>
       <div class="panel-body">
          <%= product.comment %>
        </div>
      </div>
    </div>
  </div>
</div>

