<tr>
  <td><%= orderdetail.product_id %></td>
  <td><%= orderdetail.product.name %></td>
  <td><%= image_tag(orderdetail.product.image, size: Settings.image.admin) %></td>
  <td><%= orderdetail.quanlity %></td>
</tr>
